language: php

cache:
  directories:
    - $HOME/.composer/cache

php:
  - 7.1
  - 7.2
  - 7.3

matrix:
  include:
    - php: 7.1
      env: DEPENDENCIES='lowest'

before_script:
  - composer serve &> /dev/null &
  - cp behat.yml.dist behat.yml
  - COMPOSER_MEMORY_LIMIT=-1 travis_retry composer install --no-interaction
  - if [ "$DEPENDENCIES" == "lowest" ]; then composer update --prefer-lowest --prefer-stable; fi;
  - if [ "$DEPENDENCIES" != "lowest" ]; then composer update --prefer-stable; fi;

script:
  - composer check-security
  - composer check-static
  - composer test
