default:
  translation:
    locale: en
  suites:
    default:
      paths: [ '%paths.base%/tests/features' ]
      contexts:
        - MarcOrtola\BehatSEOContexts\Context\MetaContext
        - MarcOrtola\BehatSEOContexts\Context\LocalizationContext
        - MarcOrtola\BehatSEOContexts\Context\RobotsContext
        - MarcOrtola\BehatSEOContexts\Context\IndexationContext
        - MarcOrtola\BehatSEOContexts\Context\RedirectContext
        - MarcOrtola\BehatSEOContexts\Context\SitemapContext
        - MarcOrtola\BehatSEOContexts\Context\HTMLContext
        - MarcOrtola\BehatSEOContexts\Context\PerformanceContext
        - MarcOrtola\BehatSEOContexts\Context\SocialContext
        - MarcOrtola\BehatSEOContexts\Context\AccessibilityContext
        - MarcOrtola\BehatSEOContexts\Context\UXContext
        - Behat\MinkExtension\Context\MinkContext
  extensions:
    Behat\MinkExtension:
      base_url: 'http://localhost:8080'
      goutte: ~
      browser_name: 'chrome'
      sessions:
        default:
          goutte: ~
        symfony2:
          goutte: ~
