default:
  translation:
    locale: en
  suites:
    default:
      paths: [ '%paths.base%/tests/features' ]
      contexts:
        - MOrtola\BehatSEOContexts\Context\MetaContext
        - MOrtola\BehatSEOContexts\Context\LocalizationContext
        - MOrtola\BehatSEOContexts\Context\RobotsContext
        - MOrtola\BehatSEOContexts\Context\IndexationContext
        - MOrtola\BehatSEOContexts\Context\RedirectContext
        - MOrtola\BehatSEOContexts\Context\SitemapContext
        - MOrtola\BehatSEOContexts\Context\HTMLContext
        - MOrtola\BehatSEOContexts\Context\PerformanceContext
        - MOrtola\BehatSEOContexts\Context\SocialContext
        - Behat\MinkExtension\Context\MinkContext
  extensions:
    Behat\MinkExtension:
      base_url: 'http://localhost:8080'
      goutte: ~
      browser_name: 'chrome'
      sessions:
        default:
          goutte:
            guzzle_parameters:
                ssl.certificate_authority: false
        symfony2:
          goutte: ~
